.faceId {

  /* Dark Mode=True, Type=Prompting */
  width: 156px;
  height: 158px;
  background: rgba(30, 30, 30, 0.75);
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.checked {
  
}
