.modernCalendar {
  .calendar {
    /* Calendar */
    position: relative;
    width: 343px;
    height: 380px;

    /* System Background/Light/Primary */
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 13px;

    .header {
      /* Month Picker */
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 7px 0px;
      gap: 141px;

      position: absolute;
      height: 44px;
      left: 16px;
      right: 16px;
      top: 8px;

      .year-month {
        /* Month */
        width: 97px;
        height: 24px;

        /* Default/Bold/Title3 */
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */

        letter-spacing: 0.38px;

        /* Default/SystemRed/Light */
        color: #ff3b30;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      .ym_next {
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
      }

      .nav {
        /* Arrows */
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 31px;

        width: 51px;
        height: 17.32px;

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;

        .prev {
          /* Inside auto layout */
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .next {
          /* Inside auto layout */
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }

    .days {
      /* _Day Row */
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px;
      gap: 22px;

      position: absolute;
      height: 18px;
      left: 16px;
      right: 16px;
      top: 56px;

      .day {
        /* Day */
        width: 32px;
        height: 18px;

        /* Inside auto layout */
        flex: none;
        order: 6;
        flex-grow: 0;
      }
    }

    .date {
      /* ✏️ Digit */
      width: 32px;
      height: 32px;

      /* Inside auto layout */
      flex: none;
      order: 3;
      flex-grow: 0;

      /* Date */
      position: absolute;
      height: 24px;
      left: 0px;
      right: 0px;
      top: calc(50% - 24px / 2);

      /* Default/Regular/Title3 */
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.38px;

      /* Default/SystemRed/Light */
      color: #ff3b30;
    }
  }
}
