.segmentedPicker {
  /* SegmentedPicker
Struct Picker
*/

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;

  position: relative;
  width: 343px;
  height: 32px;

  /* Fill Color/Light/Tertiary */
  background: rgba(118, 118, 128, 0.12);
  border-radius: 8.91px;

  span {
    /* ✏️ Label */
    position: absolute;
    height: 16px;
    left: 8px;
    right: 7.5px;
    top: calc(50% - 16px / 2 - 0px);

    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.08px;

    /* Label Color/Light/Primary */
    color: #000000;
  }

  button {
    /* _Option */
    width: 169.5px;
    height: 28px;
    position: absolute;
    right: 0;

    /* System Background/Light/Primary */
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6.93px;
  }
}
